*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div.nav{
    background-color: cadetblue;
}
div.nav ul{
 list-style-type: none;
 padding: 0;
 margin: 0; 
 display: flex;
}
div.nav ul li{
    
    border-right: 1px solid white;
    min-width: 120px;
    text-align: center;
}
div.nav ul li  a{
    text-decoration: none;
    display: block;
    padding: 15px 8px;
}
div.nav ul li a:hover{
    background-color: darkblue;
    color: white;
}
div.benner{
    background-color: #d4e1ed;
    display: flex;
    text-align: center;
    margin: 5px;
}
div.benner h1{
    color: #0c4da2;
    font-size: 40px;
    text-shadow: 2px 3px 2px #0c4da2;
    position: relative;
    left: 5.5%;
}
div.ads>div{
    position: fixed;
    background: linear-gradient(cadetblue,#0c4da2);
    padding: 80px 10px;
    text-align: center;
}
div.left{
    left: 0px;
    text-align: center;
}
div.right{
    right: 0px;
    text-align: center;
}
div.content{
  

    width: 70%;
    margin: 1px auto;
}
div.subject h1{
    color: #0c4da2;
    background-color: #d4e1ed;
    margin: 0;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}
div.post{
    background-color:cadetblue;
    display: flex;
    border-bottom: 1px solid white;
}
.col1{
    width: 10%;
}
.col2{
    width: 40%;
}
.col3{
    width:20% ;
}
.col4{
    width: 30%;
    direction: rtl;
}
.col{
    padding: 10px;
}
.col img{
    max-width: 100%;
    border-radius: 50%;
}
ul,p{
    margin: 0px;
}
.col3 ul{
    list-style-type: none;
}
.col    a {
    text-decoration: none   ;
}
div.footer{
    background-color:cadetblue ;
    margin-top: 10px;
}
div.footer ul{
    list-style-type: none;
}
div.footer a{
    text-decoration: none;
}

