*{
    font-family: Arial, Helvetica, sans-serif;
}
.divtop{
    width: 100%;
    height: 130px;
    background-color: black;

}
.container{
    width: 1270px;
    margin: auto;
}
#top1{
    color: rgb(95, 91, 91);
    padding-top: 1px;
    float: left;
}
#top2{
    padding-top: 15px;
    float: left;
    padding-left: 50px;
}
#kyword{
    width: 350px;
    height: 25px;
    border-radius: 20px;
}
#top3{
   
    float: left;
    padding-left: 50px;}
#top3 ul li {
    float: left;
    padding: 10px;
    list-style-type: none;
}
#top3 ul li a{
    text-decoration: none;
    color: white;
    
}
#top4{
    float: left;
}
#top5{
    float: left;
}
#top5 ul li{
    float: left;
    padding-left: 70px;
    margin: -19px;
    list-style-type: none;
}
#top5 ul li a{
    text-decoration: none;
    color: white;
}
#hinhdaugia{
    width: 100%;
    height: auto;
}
.gioithieu{
    padding-top: 40px;
}
#img { 
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.product1{
    width: 100%;
    height: 440px;
}
.spban{
    width: 20%;
    height: 300px;
    float: left;
   box-sizing: border-box;
   padding-left: 20px;

}
#dongho{
    background-color: yellow;
    color: red;
    text-align: center;
    
    width: 87%;
}
h1{
    text-align: center;
    color: gray;
}
.banchay{
    width: 20%;
    height: 300px;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 30px   ;
}
#hinh{
    width: 100%;
    height: auto;
}
p{
    color: red;
}
#pa{
    width: 20%;
    height: 70px;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
}
#lazy{
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}
.diamon1{
    width: 100%;
    height: 80px;
}
#diamonid1{
    float: left;
}
#diamonid2{
    float: left;
}
#diamonid2{
    float: left;
    margin: 10px;
    padding-left: 10px;
}
.diamon2{
    width: 100%;
    height: 370px;
}
.qq{
    width: 100%;
    height: 400px ;
}
.dichvu{
    width: 100%;
    height: 100px;
    
}
.div1{
    width: 25%;
    height: 60px;
    float: left;
 
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 30px;
}
#left{
    width: 30%;
    height: 60px;
    float: left;
    background-color: rgb(190, 184, 184);
   
}
#sup{
    
   padding: 10px;
}

#rigrt{
    width: 70%;
    height: 60px;
    float: left;
    background-color: rgb(190, 184, 184);
    
}
#span{
    padding-left: 10px;
}
.nghesi{
    padding-top: 20px;
    width: 100%;
    height: 500px;
}
.ban{
    width: 20%;
    height: 462px;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 30px;
}
.hotline{
    width: 25%;
    height: 80px ;
    float: left;
}
.lienhe{
    width: 100%;
    height: 100px;
}
#text{
    width: 223px;
    height: 25px;
}
#submit{
    height: 30px;
    background-color: black;
    color: white;
}
.bot{
    width: 100%;
    height: 300px;
    padding-top: 30px;
}
.thongtin{
    width: 25%;
    height: 200px;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
}
.thongtin ol li{
    padding-top: 10px;
}
.thongtin ul li{
    padding-top: 10px;
    list-style-type: none;
}
.dangquang{
    height: 110px;
    padding-top: 20px;
}
.bottom{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}
.bottom1{
    width: 50%;
    padding-top: 10px;
    float: left;
}
.bottom2{
    width: 50%;
    padding-top: 10px;
    float: left;
}
#logo{
    
    float: left;
    padding-top: 10px;
    padding-left: 139px;
}
