*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: rgb(255, 255, 42);
    text-align: center;
    height: 44px;
}

input#input-search{
    padding-left: 10px;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
div.top{
    background-color: black;
}
div.top ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.top ul li a{
    color: white;
    font-size: 13px;
}
div.top ul li:nth-child(2) a{
    color:rgb(255, 255, 42); 
}
div.top ul li:nth-child(3){
    position: relative;
}
div.top ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
div.top ul li:nth-child(3) i{
    position: absolute;
    right: 5px;
    top:7px; 
       
}
div.top ul li button{
    height: 40px;
    background: black;
    color: white;
    border: 1px solid rgb(153, 150, 150);
    border-radius: 5px;
    cursor: pointer;
}
div.top ul li:nth-child(5) button:hover{
    background-color: rgb(97, 93, 93);
    
}
div.top ul li:nth-child(6){
    text-align: center;
}
div.top ul li:nth-child(6):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(7):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(8){
    text-align: center;
}
div.top ul li:nth-child(8):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(9):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(10):hover a{
    color: rgb(255, 255, 42);
}
/*--------phần List-Menu-----*/

div.list-menu{
    background-color:#fed100;
}

div.list-menu-content ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    ;
}
div.list-menu-content ul li a{
    color: black;
    font-size: 15px;
    
}
div.list-menu-content ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
div.list-menu-content ul li{
    padding: 12px 6px;
    
}
div.list-menu-content ul li:hover{
    background-color:white;
}
/*------Phần fomr top------ */
div.form{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.6);
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10
}
select{
    padding: 0px 5px;
}
input.input-add-name{
    padding-left: 5px;
}
div.form-content{
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    
}
div.form-content form{
    padding: 12px 40px;
}
div.form-content h2{
    font-size: 17px;
    padding: 12px 0px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}
div.form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    top:50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}
div.form-content form select,input{
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
}
div.form-content form button{
    margin: 20px 30px;
    background-color: #f7830a;
    height: 40px;
    width: 80%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}  
/*---------- SUB-MENU-----------*/
div.list-menu-content ul li{
    position: relative;
} 
div.sub-menu{
    position: absolute;
    background-color: #ddd;
    width: 200px;
    height: auto;
    left: 0px;
    top:100%;
    padding: 12px;
    display: none;
} 
div.sub-menu ul{
    display: flex;
    flex-direction: column;
    
}
div.sub-menu ul li{
    padding: 6px 0px;
}
div.sub-menu ul li:hover a{
    color:blue;
}
div.sub-menu ul li:hover{
    background: none;
}
div.list-menu-content ul li:hover>div.sub-menu{
    display: block;
}
/*----KẾT THÚC SUB MENU---*/

/*----PHẦN PRODUCT-------*/
div.name-product{
    margin-top: 60px;
}
div.name-product > h1{
    font-size: 30px;
    color: white;
    background-color: darkblue;
    border-radius: 15px 15px 0px 0px;
    width: 25%;
    margin-bottom: 0px;
}
div.line{
    width: 100%;
    height: 5px;
    background-color: darkblue;
    margin-bottom: 20px;
}
div.product-dt>a>img{
    width: 100%;
    height: 250px;
    transition: transform ease 0.5s;
     
 }
 div.product-dt>a>img:hover {
    transform: scale(1.1);
 }
div.product{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    height: 400px;
    position: relative;
    
    
 }
div.product-dt{
    width: 20%;
    border: 1px solid gray;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 5px;
    position: relative;

}

div.thongtin-sanpham{
    background: linear-gradient(lightblue,blue);
    font-size: 13px;
    color: white;
    border-radius: 10px;
    height: 100px;
    text-shadow: 1px 2px black;
}
div.thongtin-sanpham > h3{
    padding-top: 10px;
}
div.content{
    display: block;
    margin: 50px 430px;
    width: 400px;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    color: black;
    justify-content: center;
}
div.content span a{
    display: block;
    line-height: 30px;
    text-align: center;
    color: black;
    border-radius: 10px;
}
div.content span a:hover{
    background-color: blue;
    color: white;
}
/*---END---*/
div.bottom{
    display: flex;
}
div.thongtin{
    width: 25%;
    height: 200px;
    margin-top: -10px;
}
div.thongtin ul li{
    margin: 15px 0px;
}
div.thongtin ul li a{
    color: black
}
div.thongtin ul li a:hover{
    color: blue;
}
div.end{
    width: 100%;
    height: 66px;
    background-color: #f1f1f1;;
}
div.end-1{
    width: 100%;
    height: 36px;
    padding: 15px 0px;
}
div.end-1 a {
    color: #666;
    font-size: 13px;
}
div.container{
    max-width: 1200px;
    margin: 0 auto;
}
div.product-dt-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.product-dt-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}