*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(255, 255, 42);
    text-align: center;
    height: 44px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
input#input-search{
    padding-left: 10px;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
div.top{
    background-color: black;
}
div.top ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.top ul li a{
    color: white;
    font-size: 13px;
}
div.top ul li:nth-child(2) a{
    color:rgb(255, 255, 42); 
}
div.top ul li:nth-child(3){
    position: relative;
}
div.top ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
div.top ul li:nth-child(3) i{
    position: absolute;
    right: 5px;
    top:7px; 
       
}
div.top ul li button{
    height: 40px;
    background: black;
    color: white;
    border: 1px solid rgb(153, 150, 150);
    border-radius: 5px;
    cursor: pointer;
}
div.top ul li:nth-child(5) button:hover{
    background-color: rgb(97, 93, 93);
    
}
div.top ul li:nth-child(6){
    text-align: center;
}
div.top ul li:nth-child(6):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(7):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(8){
    text-align: center;
}
div.top ul li:nth-child(8):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(9):hover a{
    color: rgb(255, 255, 42);
}
div.top ul li:nth-child(10):hover a{
    color: rgb(255, 255, 42);
}
/*--------phần List-Menu-----*/

div.list-menu{
    background-color:#fed100;
}

div.list-menu-content ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    ;
}
div.list-menu-content ul li a{
    color: black;
    font-size: 15px;
    
}
div.list-menu-content ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
div.list-menu-content ul li{
    padding: 12px 6px;
    
}
div.list-menu-content ul li:hover{
    background-color:white;
}
/*------Phần fomr top------ */
div.form{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.6);
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10
}
select{
    padding: 0px 5px;
}
input.input-add-name{
    padding-left: 5px;
}
div.form-content{
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    
}
div.form-content form{
    padding: 12px 40px;
}
div.form-content h2{
    font-size: 17px;
    padding: 12px 0px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}
div.form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    top:50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}
div.form-content form select,input{
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
}
div.form-content form button{
    margin: 20px 30px;
    background-color: #f7830a;
    height: 40px;
    width: 80%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}  
/*---------- SUB-MENU-----------*/
div.list-menu-content ul li{
    position: relative;
} 
div.sub-menu{
    position: absolute;
    background-color: #ddd;
    width: 200px;
    height: auto;
    left: 0px;
    top:100%;
    padding: 12px;
    display: none;
} 
div.sub-menu ul{
    display: flex;
    flex-direction: column;
    
}
div.sub-menu ul li{
    padding: 6px 0px;
}
div.sub-menu ul li:hover a{
    color:blue;
}
div.sub-menu ul li:hover{
    background: none;
}
div.list-menu-content ul li:hover>div.sub-menu{
    display: block;
}
/*---PHẦN THANH TRƯỢC HÌNH QUẢNG CÁO---*/
div.slider{
     padding: 20px 0px;
     height: 350px;

 }
 div.slider-content{
     display: flex;
     justify-content: space-between;
 }
div.slider-content-left{
     width: 65%;
 }
div.slider-content-left-top{
     width: 100%;
     height: 300px;
     position: relative;
 }
 div.slider-content-left-top img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     z-index: -1;
 }
div.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: -1;
}
div.slider-content-left-top-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
} 
 div.slider-content-left-bot{
     display: flex;
     justify-content: space-between;
     border: 1px solid #ddd;
     border-top: none;
     border-right: 1px solid rgb(165, 159, 159);
     height: 50px;
 }
 div.slider-content-left-bot li{
     list-style-type: none;
     font-size: 13px;
     text-align: center;
     padding: 6px 0px;
     width: 20%;
     height: 100%;
     line-height: 20px;
 }
 div.slider-content-left-bot li a{
     color: black;
 }
 div.slider-content-left-bot li:hover a{
     color: blue;
 }
div.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: space-around;
    
}
div.slider-content-right li{
    width: 50%;
    height: 50%;
    list-style-type: none;
    text-align: center;
}
div.slider-content-right li a img{
    width: 170px;
    height: 170px;
    border-radius: 5px;
}
div.img-adv img {
    margin: 40px 0px
}
div.product-sale{
    width: 1200px;
    height: 500px;
    background-color: #162a4b;
    display: flex;
    border-radius: 5px;
    position: relative;
    
}
div.product-sale-1{
    width: 230px;
    height: 400px;
    background-color: white;
    margin: 50px 5px;
    border-radius: 5px;
    border: 1px solid black;
    
}
div.product-sale-1 a{
    color: black;
}
div.img-product{
    padding: 20px 15px;
}
div.img-product img{
    width: 198px;
    height: 198px;
    transition: transform ease 0.5s;
    margin-top: 30px;
}
div.img-product img:hover{
    transform: scale(1.1);
}
div.thongtin-sanpham h3{
    font-size: 15px;
    padding: 5px 5px;
}
div.thongtin-sanpham span{
    text-decoration: line-through;
    font-size: 16px;
    padding: 5px 5px;
}
div.product-sale-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.product-sale-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
} 
div.sp-nb{
    display: flex;
    padding: 20px 0px;
}
div.sp-nb-rigth ul {
    display: flex;

}
div.sp-nb-rigth ul li a{
    display: block;
    max-width: 200px;
    line-height: 20px;
    border: 1px solid gray;
    margin: 0px 10px ;
    border-radius: 5px;
    color: black;
}
div.sp-nb-rigth ul li a:hover{
    background-color: blue;
    color: white;
}
div.product-dt{
    width: 1200px;
    height: 420px;
    position: relative;
    display: flex;
    border-radius: 5px;
    border: 1px solid gray;
}
div.product-dt-1{
    width: 230px;
    height: 400px;
    background-color: white;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
div.product-dt-1 a{
    color: black;
}
div.img-product-lt{
    padding: 40px 15px;
}
div.img-product-lt img{
    width: 204px;
    height: auto;
    transition: transform ease 0.5s;
    margin-top: 50px;
}
div.img-product-lt img:hover{
    transform: scale(1.1);
}
div.product-dt-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.product-dt-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}
div.img-product-pk img{
    width: 208px;
    height: auto;;
    transition: transform ease 0.5s;
    margin-top: 50px;
} 
div.img-product-pk img:hover{
    transform: scale(1.1);
}
div.product-dh{
    width: 100%;
    height: 460px;
    background-color:#203E4E;
    display: flex;
    border-radius: 5px;
    margin: 40px 0px;
}
div.product-dh-left{
    width: 20%;
    height: 480px;
}
div.product-dh-left img{
    padding: 20px 10px;
}
div.product-dh-rigth-top{
    width: 80%;
    height: 30px;
    padding: 10px 0px;
}
div.product-dh-rigth-top ul{
    display: flex;
}
div.product-dh-rigth-top ul li a{
    color: #ddd;
    display: block;
    max-width: 200px;
    line-height: 20px;
    border: 1px solid #ddd;
    margin: 0px 20px;
    font-size: 15px;
    border-radius: 5px
}
div.product-dh-rigth-top ul li a:hover{
    background-color: white;
    color: blue;
}
div.product-dh-rigth-bot{
    position: relative;
    
}
div.product-dh-rigth-bot-dh{
    background-color: white;
    width: 950px;
    height: 400px;
    border: 1px solid #ddd;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
}
div.product-dh-rigth-bot-dh a{
    color: black; 
}
div.sanpham-dongho{
    width: 230px;
    height: 390px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 5px;  
}
div.th-sp-cn{
    position: relative;
}
div.th-sp-cn ul{
    display: flex;
}
div.th-sp-cn ul li{
    list-style: none;
    margin: 0px 5px;
}
div.th-sp-cn ul li a img{
    width: 390px;
    height: 210px;
}
div.bottom{
    display: flex;
}
div.thongtin{
    width: 25%;
    height: 200px;
    margin-top: -10px;
}
div.thongtin ul li{
    margin: 15px 0px;
}
div.thongtin ul li a{
    color: black
}
div.thongtin ul li a:hover{
    color: blue;
}
div.end{
    width: 100%;
    height: 66px;
    background-color: #f1f1f1;;
}
div.end-1{
    width: 100%;
    height: 36px;
    padding: 15px 0px;
}
div.end-1 a {
    color: #666;
    font-size: 13px;
}
div.ads > div{
    position: fixed;
}
div.ads-left{
    left: 0;
    top:157px;
}
div.ads-rigth{
    right: 0;
    top:157px;
}
div.ads-left img{
    width: 62px;
    height: auto;
}
div.ads-rigth img{
    width: 62px;
    height: auto;
    
}

