*{
    font-family: Arial, Helvetica, sans-serif
}
.container{
    background-color: #E5E5E5;
    width: 1440px;
}
.top{
    position: absolute;
    display: flex;
    padding-left: 532px;
    padding-top: 30px;
}
.top h5{
    padding-right: 60px;
}
.top-1{
    padding-top: 165px;
    padding-left: 135px;
    position: absolute;
}
.top-11{
    width: 278px;
    height: 64px;
    color: #BDBDBD;
    padding-top: 0px;
    padding-left: 0px;
}
.top-1-1{
    font-size: 64px;
    line-height: 64px;
}
.top12{
    width: 453px;
    height: 64px;
    color: #333333;
    padding-top: 0px;
    padding-left: 0px;
}
.top-12{
    font-size: 64px;
    line-height: 64px;
    margin: 0px 0px;
    
}
.body-1{
    position: absolute;
    padding-top: 354px;
    padding-left: 135px;
    display: flex;
}
.body-1 img{
    padding-right: 30px;
}
.body-11 h6{
    text-align: center;
}
.body-2{
    position: absolute;
    padding-top: 644px;
    padding-left: 135px;
    display: flex;
}
.body-2 img{
    padding-right: 30px;
}
.ngay{
    padding-top: 979px;
    padding-left: 135px;
    display: flex;
}
.ngay h1{
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    padding-right: 35px;
}
.bot{
    width: 100%;
    height: 590px;
    background-color: #2C2C2C;
    color: white;
    margin-top: 134px;
}
.bot-1{
    display: flex;
}
.bot-1-1 img{
  padding-top: 58px;
  padding-left: 114px;
}
.bot-1-2{
    padding-top: 58px;
    padding-left: 100px;
}
.bot-1-2  h4{
    padding-top: 30px;
}
.bot-1-3{
    padding: 58px;
    padding-left: 110px;
}
.bot-1-3 h3{
    padding-bottom: 30px
}
.bot-1-3 h4{
    padding-bottom: 80px;
}
.div-1-3-p{
    padding-bottom: 30px;
}
.bot-1-3 h4 img{
    padding-right: 10px;
}
.img{
    padding-right: 20px;
}
.bot-1-4{
    padding-top: 58px;
    padding-left: 100px;
}
.imgs{
    padding-top: 23px;
    padding-right: 20px;
}
hr{
    width: 100%;
    
    margin-top: 65px;
}
.end{
    text-align: center;
    color: white;
}
.pro{
    display: flex;
    width: 100;
}
.pro1{
    width: 60%;
    
    height: 1410px;
    margin-top: 597px;
}
.pro2{
    width: 40%;
}
.pro1 img{
    float: right;
    margin-left: 200px;
    padding-bottom: 30px;
}


    
