.container{
    width: 600px;
    background-color: rgb(50, 171, 226);
    height: 300px;
    margin: 0 auto ;
    border: solid 1px;
}
#tieude1{
    color: red;
    text-align: center
}
#tieude2{
    color: green;
    text-align: center;
}
h3{
    padding-right: 30px;
    text-align: right;
    color: greenyellow;
}