*{
    font-family: Arial, Helvetica, sans-serif;
}
div.top{
    
    background-color: rgb(0, 76, 198);;
}
div.container{
    width: 1170px;
    margin: 0 auto;
}
div.logo-top{
    background-repeat: no-repeat;
    background-size: 100%;
    animation: logo ease-in-out 3s infinite;
}
div.logo-top img{
    visibility: hidden;
    
}
@keyframes logo{
    10%{
        background-image: url(dienmayxanh/1200-44-1200x44-1.png);
    }
    20%{
        background-image: url(dienmayxanh/1200x44-1200x44-1.jpg);
    }
}
div.top-1{
    background-color: #4285de;
    width: 100%;
    height: 50px;
}
div.list{
    display: flex;
}
div.list-1{
    width: 15%;
    height: 50px;
}
div.list-1 a img{
    width: 175px;
    height: 50px;
    border-right:1px solid rgb(192, 190, 190) ;
}
div.list-2 { 
    display: flex;
    width: 50%;
    height: 50px;
    margin: -8px 0px;
    text-align: center;
    
}
div.list-2 p a{
    text-decoration: none;
    color: white;
}
div.search{
    margin: 22px 30px;
}
div.search input{
    height: 20px;
}
div.list-4{
    width: 45%;
   
    text-align: center;
    display: flex;
}
div.list-4 ul{
     display: flex;
}
div.list-4 ul li{
    list-style-type: none;
    padding: 10px 40px;
    
    margin: -30px 0px;

}
div.list-4 ul li p a{
    text-decoration: none;
    color: white    ;
}
div.danhmuc{
    width: 100%;
    border:1px solid black ;
    height: 50px;
}
div.danhmuc ul{
    display: flex;
    
}
div.danhmuc ul li{
    list-style-type: none;
    padding: 5px 30px;
    
    
}
div.danhmuc ul li a{
    text-decoration: none;
    color: black;
    display: block;
    min-width: 150px;
    height: 50px;
    
}
div.danhmuc ul li a:hover{
    color: blue;
}
div.name-1{
    width: 15%;
    border: 1px solid black;
    
}
div.name-1 ul li{
    list-style-type: none;
    padding: 6px 0px;
    border-bottom:1px solid black ;
    
    margin-left: -33px;
}
div.name-1 ul li a{
    text-decoration: none;
    color: black;
    margin: 0px 0px;
    padding: 5px 0px;
    
}
div.name{
    display: flex;
    
}
div.name-2{
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: doinen ease-in-out 4s infinite;
}
div.name-21 img{
    visibility: hidden;
}
@keyframes doinen{
    10%{
        background-image: url(dienmayxanh/690-300\(1\-690x300.png);
    }
    20%{
        background-image: url(dienmayxanh/690-300-690x300-8.png);
    }
    30%{
        background-image: url(dienmayxanh/690-300-690x300-4.png);
    }
    40%{
        background-image: url(dienmayxanh/690-300-1-690x300.png);

    }
    50%{
        background-image: url(dienmayxanh/690-300-690x300-12.png);
    }
}
div.name-3{
    width: 25%;
}
div.name-31{
    width: 100%;
    display: flex;
}
div.name-311{
    width: 50%;
}
div.name-311 img{
    max-width: 100%;
}
div.name-312{
    width: 50%;
}
div.name-312 img{
    max-width: 100%;
}
div.name-32{
    width: 100%;
    display: flex;
}
div.name-321{
    width: 50%;
}
div.name-321 img{
    max-width: 100%;
}
div.name-322{
    width: 50%;
}
div.name-322 img{
    max-width: 100%;
}
div.name-33 img{
    max-width: 100%;
}

div.img img{
    max-width: 100%;
    padding: 15px 0px;
}
div.products{
    background-color:#4285de; ;
}
div.products h2 {
    color: white;
    padding: 10px 0px;
}
div.product{
    display: flex;
}
div.product-sp{
    width: 20%;
    background-color: white;
    margin: 5px 5px;
    border: 1px solid rgb(185, 182, 182);
}
div.product-sp a{
    display: block;
    
    text-decoration: none;
    color: black;
    
}
div.product-sp a img{
    width: 100%;
}
div.product-sp a h3{
    padding: 10px 0px;
}
div.product-sp a h4{
    color: red;
}
div.gia{
    padding-top: 85px;
}
div.gia2{
    padding-top: 155px;
}
div.noibat ul{
    display: flex;
}
div.noibat ul li{
    list-style-type: none;
   
}
div.noibat ul li h3 a{
    min-width: 150px;
    display: block;
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}
div.noibat ul li h3 a:hover{
    background-color: blue;
    color: white;
}
